:root {
    --purple-dark: #572c43;
    --light-gray: #E9E9E9;
    --dark-gray: #404040;
    --dash-card-width: 10rem;
    --dash-card-height: 15rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

.container {
    margin: auto;
    width: 90%;
    background-color: lightgray;
}

.flx {
    display: flex;
}

.list-style-type-none {
    list-style-type: none;
    padding: 0;
}

.primary {
    color: var(--purple-dark);
}

.light-gray {
    color: var(--light-gray);
}

header {
    background-color: var(--dark-gray);
}

.side-navbar {
    background-color: var(--dark-gray);
    width: 10%;
}

.container-map {
    border: 1px solid red;
    padding: 10px;
    background: var(--light-gray);
    width: 90%;
    height: 90vh;
    /* position: relative; */
}
#map {
    border: 1px solid red;
    height: 80%;
    /* width: 100%; */
}

.timeline {
    height: 15%;
    /* position: absolute; */
}

.timeline-slidecontainer {
    min-width: 100%;
    min-height: 100%;
    border: 1px solid red;
    /* position: relative; */
}

.timeline-slider {
    -webkit-appearance: none; /* override default CSS styles */
    appearance: none;
    width: 100%;
    height: 5px;
    background: var(--dark-gray); /* #d3d3d3 */
    outline: none;
    opacity: 0.7; /* set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2s transition on hover */
    transition: opacity;
}

/* mouse-over effects */
.timeline-slider:hover {
    opacity: 1;
}


/* the slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox)
to override default look */
.timeline-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* override default look */
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--light-gray); /* #04AA6D; */
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer; /* cursor on hover */
}

.timeline-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--light-gray);
    border: 1px solid var(--dark-gray);
    border-radius: 50%;
    cursor: pointer;
}