:root {
    --purple-dark: #572c43;
    --light-gray: #E9E9E9;
    --dark-gray: darkgray;
    --dash-card-width: 10rem;
    --dash-card-height: 15rem;

}

* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

.container {
    margin: auto;
    width: 90%;
    background-color: lightgray;
}

.flx {
    display: flex;
}

.list-style-type-none {
    list-style-type: none;
    padding: 0;
}

.primary {
    color: var(--purple-dark);
}

.light-gray {
    color: var(--light-gray);
}

header {
    background-color: var(--dark-gray);
}

.side-navbar {
    background-color: var(--dark-gray);
}

.container-map {
    padding: 10px;
    background: var(--light-gray);
    width: 90%;
}
#map {
    border: 1px solid red;
    height: 60vh;
    /* width: 100%; */
}